@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-foreground: var(--foreground);
  --color-subtle: rgb(var(--subtle));
  --color-hovered: rgb(var(--hovered));
  --color-softblack: rgb(var(--softblack));
  --color-secondary: rgb(var(--secondary));
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --radius: 0.625rem;
  --foreground: oklch(0.145 0 0);
  --subtle: 224 224 224;
  --hovered: 243 243 243;
  --softblack: 240 240 240;
  --secondary: 58 61 63;

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
}

.dark {
  --foreground: oklch(0.985 0 0);
  --subtle: 40 40 40;
  --softblack: 24 24 24;
  --secondary: 208 208 208;

  --hovered: 36 36 36;
}
